// ========================================
//
// Partial for the fancy tricks
//
// ========================================

// Keyframe Mixin
// Adds vendor prefixes to keyframes
// ========================================

@mixin keyframe ($name) {
	@keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-webkit-keyframes #{$name} {
		@content;
	}
}

// Animation Mixin
// ========================================

@mixin animation ($animation, $delay, $duration, $function, $count) {
	animation-name: $animation;
	animation-delay: $delay;
	animation-duration: $duration;
	animation-iteration-count: $count;
	animation-timing-function: $function;

	-moz-animation-name: $animation;
	-moz-animation-delay: $delay;
	-moz-animation-duration: $duration;
	-moz-animation-iteration-count: $count;
	-moz-animation-timing-function: $function;

	-webkit-animation-name: $animation;
	-webkit-animation-delay: $delay;
	-webkit-animation-duration: $duration;
	-webkit-animation-iteration-count: $count;
	-webkit-animation-timing-function: $function;
}