// Glob - Keyframe animation mixins
// ================================

// Animation Mixin
// ---------------------------------------------------------------------------------
// Call your animation and pass some arguments, use autoprefixer for vendors.
// ---------------------------------------------------------------------------------
@mixin animation($animation, $duration, $function, $delay: 0, $count: 1) {
  animation-name: $animation;
  animation-duration: $duration;
  animation-timing-function: $function;
  animation-delay: $delay;
  animation-iteration-count: $count;
}
