// Glob - Keyframe animation mixins
// ================================

// Keyframe Mixin
// ---------------------------------------------------
// Adds vendor prefixes to keyframes
// ---------------------------------------------------
@mixin keyframe ($name) {
  @keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-webkit-keyframes #{$name} {
    @content;
  }
}

// Animation Mixin
// --------------------------------------------------
// Call your animation and pass some arguments
// --------------------------------------------------
@mixin animation ($animation, $duration, $function, $delay: 0, $count: 1) {
  animation-name: $animation;
  animation-duration: $duration;
  animation-timing-function: $function;
  animation-delay: $delay;
  animation-iteration-count: $count;

  -moz-animation-name: $animation;
  -moz-animation-duration: $duration;
  -moz-animation-timing-function: $function;
  -moz-animation-delay: $delay;
  -moz-animation-iteration-count: $count;

  -webkit-animation-name: $animation;
  -webkit-animation-duration: $duration;
  -webkit-animation-timing-function: $function;
  -webkit-animation-delay: $delay;
  -webkit-animation-iteration-count: $count;
}
