// Glob - Transforms mixins
// ========================

// Transforms
// --------------------------------------------------
// WIP
// --------------------------------------------------

// Default value mixin
// --------------------------------------------------
@mixin transform($transforms) {
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

// Specific property value mixins
// --------------------------------------------------

// matrix
@mixin transform-matrix ($a, $b, $c, $d, $e, $f) {
  @include transform(matrix($a, $b, $c, $d, $e, $f));
}

// rotate
@mixin transform-rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin transform-scale($scale) {
   @include transform(scale($scale));
}

// skew
@mixin transform-skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}

// translate
@mixin transform-translate ($x, $y) {
   @include transform(translate($x, $y));
}

// origin
@mixin transform-origin ($origin) {
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

// perspective
@mixin transform-perspective($perspective) {
  -ms-perspective: $perspective;
  -webkit-perspective: $perspective;
  perspective: $perspective;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
