// Glob - Transforms mixins
// ========================

// Transforms
// --------------------------------------------------
// WIP
// --------------------------------------------------

// default value mixin
@mixin transform($transforms) {
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

// transform-matrix
@mixin transform-matrix ($a, $b, $c, $d, $e, $f) {
  -ms-transform: matrix($a, $b, $c, $d, $e, $f);
  -webkit-transform: matrix($a, $b, $c, $d, $e, $f);
  transform: matrix($a, $b, $c, $d, $e, $f);
}

// transform-origin
@mixin transform-origin ($origin) {
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

// transform-perspective
@mixin transform-perspective($perspective) {
  -ms-perspective: $perspective;
  -webkit-perspective: $perspective;
  perspective: $perspective;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

// transform-rotate
@mixin transform-rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

// transform-scale
@mixin transform-scale($scale) {
   @include transform(scale($scale));
}

// translate-skew
@mixin transform-skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}

// transform-translate
@mixin transform-translate ($x, $y) {
   @include transform(translate($x, $y));
}
