//
// Base test classes
//

@import "keyframes";

body {
	@include keyframe(anim) {
		0% { opacity: 0; }
		100% { opacity: 1; }
	}
}

// position
.content {
	margin: 5em auto;
	width: 0;
}

// button
.btn {
	color: #fff;
	background: #555;
	border: 0;
	padding: 10px 20px;
}