body {
  @keyframe anim {
    0% {
      opacity: 0; }

    100% {
      opacity: 1; } }

  @-o-keyframe anim {
    0% {
      opacity: 0; }

    100% {
      opacity: 1; } }

  @-ms-keyframe anim {
    0% {
      opacity: 0; }

    100% {
      opacity: 1; } }

  @-moz-keyframe anim {
    0% {
      opacity: 0; }

    100% {
      opacity: 1; } }

  @-webkit-keyframe anim {
    0% {
      opacity: 0; }

    100% {
      opacity: 1; } }
 }

.content {
  margin: 5em auto;
  width: 0; }

.btn {
  color: white;
  background: #555555;
  border: 0;
  padding: 10px 20px; }
