@keyframes load-in-slow {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes load-in-slow {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes load-in-slow {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes load-in-slow {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.content {
  margin: 0 auto;
  animation-name: load-in-slow;
  animation-delay: initial;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  -moz-animation-name: load-in-slow;
  -moz-animation-delay: initial;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in;
  -webkit-animation-name: load-in-slow;
  -webkit-animation-delay: initial;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in; }

.btn {
  color: #fff;
  background: #555;
  border: 0;
  padding: 10px 20px; }
